VITE_VAPID_PUBLIC_KEY=BBszfC56bFWw2BhsfIEkJZQwUmhdYPf-Rp5wOLEiAiuA1jhJzqCDhV1kfyg-LJrbSy05yZHGgRmTqm2It2SyYrY
VAPID_PRIVATE_KEY=HJk1X9QMiBTZZotkRhGJsWT9gLNCz7ACaGn5RwwB4xw
VAPID_EMAIL=mailto:shadowinside215@gmail.com
